<%# Copyright (c) Microsoft Corporation %>
<%# All rights reserved. %>
<%# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 %>
<%# THIS CODE IS PROVIDED *AS IS* BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OR CONDITIONS OF TITLE, FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABLITY OR NON-INFRINGEMENT. %>
<%# See the Apache Version 2.0 License for specific language governing permissions and limitations under the License. %>

<div class="hero-unit">
  <h1>Bookmarking Made Easy</h1>
  <p>Have you ever found a thread on Yammer providing an interesting answer and then forgotten about it? Never again. Bookmark the thread using the Bookmarklet, attach it to a Question, find the Answer when you need it!</p>
  <p>
    <a href="/auth/yammer" class="btn btn-primary btn-large">
      Try It Now!
    </a>
    <a class="btn btn-success btn-large" title="Drag the link to your Bookmarks Bar to install the bookmarklet" href="javascript:(function() {script=document.createElement('scr'+'ipt');script.type='text/javascript';script.src=document.location.protocol+'//<%= request.host %>/bookmarklet.js?t='+(new Date()-0);document.getElementsByTagName('head')[0].appendChild(script);})();" onclick="alert('Drag the link to your Bookmarks Bar to install');return false;">
      Install the Bookmarklet
    </a>
  </p>
</div>
