/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
  margin: 6em 4em 4em 4em !important;
}

header {
  box-shadow: 0 5px 5px gray;
}

header .navbar-inner {
  height: 3em;
  line-height: 100%;
  vertical-align: middle;
}

header h1 {
  font-size: 1.8em;
  color: rgb(250, 250, 250) !important;
  display: inline;
  margin-left: 40px;
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  color: inherit;
  text-decoration: inherit;
}

header .avatar {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

#rightside_nav {
  margin-right: 10px;
}