// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topics .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}

.control-label {
  margin-right: 20px;
  width: 50px !important;
  text-align: left !important;
}

#question_form {
  margin-top: 30px;
}

#question_form .controls {
  margin-left: 70px;
}

#question_answer {
  height: 300px;
}

.question h1 {
  font-size: 140%;
}

#content .question {
  font-size: 130%;
  padding-bottom: 2em;
}

#content .question + .question {
  border-top: 1px solid silver;
  padding-top: 2em;
}

#content .question .box {
  padding: 6px;
  background-color: rgb(245, 245, 245);
  border: 1px dashed rgb(200, 200, 200);
  overflow: scroll;
}

#content .question .box:hover {
  background-color: rgb(240, 240, 240);
}

#content .question .box a {
  display: block;
}

#content .search-label .badge {
  margin-left: 10px;
  vertical-align: top;
}