// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar {
  max-width: 300px;
}

#topics {
  max-width: 280px;
}

#topics {
  width: 28%;
}

#topics .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}

.control-label {
  margin-right: 20px;
  width: 50px !important;
  text-align: left !important;
}

#question_form {
  margin-top: 30px;
}

#question_form .controls {
  margin-left: 70px;
}

#question_answer {
  height: 300px;
}

#question h1 {
  font-size: 140%;
}

#thread_container {
  margin: 0 0 1em 0;
}

.loading {
  display: none;
}

#thread_container h2 {
  font-size: 120%;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.message .mugshot {
  margin-right: 10px;
}

.message .header {
  margin: 20px 0 5px 0;
  font-weight: bold;
}

.message .time {
  font-size: 70%;
  color: silver;
}

.indented {
  margin-left: 40px;
}

.question {
  font-size: 130%;
  padding-bottom: 2em;
}

.question .box {
  padding: 6px;
  border: 1px dashed rgb(200, 200, 200);
  overflow: scroll;
}

.question .box:hover {
}

.question .box a {
  color: black;
  display: block;
  font-weight: bold;
}