// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar {
  max-width: 300px;
}

#topics {
  max-width: 280px;
}

#topics {
  width: 28%;
}

#topics .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}

.control-label {
  margin-right: 20px;
  width: 50px !important;
  text-align: left !important;
}

#question_form {
  margin-top: 30px;
}

#question_form .controls {
  margin-left: 70px;
}

#question_answer {
  height: 300px;
}

#question h1 {
  font-size: 140%;
}

#thread_container {
  margin: 0 0 1em 0;
}

.loading {
  display: none;
}


.message .mugshot {
  margin-right: 10px;
}

.message .header {
  margin: 20px 0 5px 0;
  font-weight: bold;
}

.message .time {
  font-size: 70%;
  color: silver;
}

.indented {
  margin-left: 40px;
}

.question {
  font-size: 130%;
  padding-bottom: 2em;
}

.question .box {
  padding: 6px;
  border: 1px dashed rgb(200, 200, 200);
  overflow: scroll;
}

.question .box:hover {
}

.question .box a {
  color: black;
  display: block;
  font-weight: bold;
}

#content .search-label .badge {
  margin-left: 10px;
  vertical-align: top;
}

#question {
  overflow: auto;
  margin-bottom: 30px;
}

#question .title, #question .answer {
  min-height: 66px;
}

#question .title .mugshot, #question .answer .mugshot {
  border: 1px solid #E8E8E8;
  width: 64px;
  height: 64px;
  text-align: center;
  background-color: #F00;
  float: left;
  vertical-align: middle;
}

#question .title .mugshot>div, #question .answer .mugshot>div {
  color: #FFF;
  font-size: 30px;
  height: 100%;
  line-height: 64px;
}

#question .title a.edit {
  display:none;
  color: #aeaeae;
  font-weight: normal;
}

#question .title:hover a.edit {
  display: inline-block;
}

#question .answer {
  margin-top: 20px;
}

#question .answer .mugshot {
  background-color: rgb(0,174,239);
}

#question .title .text {
  display: block;
  margin-left: 84px;
  font-weight: bold;
  font-size: 120%;
}

#question .answer .text {
  display: block;
  margin-left: 84px;
}

#question .answer .text pre {
  border: none !important;
  font-family: inherit !important;
  font-size: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#thread_button .is-open, #thread_button.open .is-closed  {
  display:none;
}

#thread_button.open .is-open {
  display: inline;
}
